/* General body styling */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

/* Container styling */
#container {
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
    max-width: 600px; /* Same width for all containers */
    margin: auto; /* Center the container */
}

/* Header styling */
h1 {
    color: #007bff;
}

/* Button styling */
button, input[type="text"], input[type="number"] {
    width: calc(100% - 22px);
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

button.disabled, button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Dropdown styling */
.dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.dropbtn:hover {
    background-color: #0056b3;
}

/* Other styling */
.warning {
    color: red;
    font-size: 20px;
}

#logo {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
}

#visitText {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
